<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B9LQDLTVG8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B9LQDLTVG8');
</script>

  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="宮城県登米市にある縫製会社です。関東にある本社を含めて、グループ一丸となって縫製を行っています。アサヒではデニムを用いたジャケットを縫製しており、一着一着丁寧に仕上げております。"
    />

    <meta property="og:url" content="https://asahi-jinz.github.io/asahi/" />
    <meta property="og:title" content="アサヒ株式会社 | 宮城県登米市の縫製会社" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="宮城県登米市にある縫製会社です。関東にある本社を含めて、グループ一丸となって縫製を行っています。アサヒではデニムを用いたジャケットを縫製しており、一着一着丁寧に仕上げております。"
    />
    <meta
      property="og:image"
      content="{{ '/img/fabkn.png' | relative_url }}"
    />
    <meta property="og:site_name" content="アサヒ株式会社" />
    <meta property="og:locale" content="ja_JP" />

 <link
  rel="icon"
  href="{{ '/img/fabkn.png' | relative_url }}"
  type="image/png"
/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Zen+Kaku+Gothic+New&display=swap"
      rel="stylesheet"
    />
    <title>アサヒ株式会社 | 宮城県登米市の縫製会社</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <script src="{{ '/js/jquery-4.0.0.min.js' | relative_url }}"></script>
    <script src="https://unpkg.com/lenis@1.1.18/dist/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script src="{{ '/js/script.js' | relative_url }}"></script>

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "https://asahi-jinz.github.io/asahi/#organization",
  "name": "アサヒ株式会社",
  "url": "https://asahi-jinz.github.io/asahi/",
  "logo": {
    "@type": "ImageObject",
    "url": "https://asahi-jinz.github.io/asahi/img/asahilogo_w.png"
  },
  "description": "宮城県登米市にある縫製会社。デニム製品の縫製を中心に、繊維製品の製造を行っています。",
  "telephone": "+81-220-34-2136",
  "address": {
    "@type": "PostalAddress",
    "postalCode": "987-0601",
    "addressRegion": "宮城県",
    "addressLocality": "登米市",
    "streetAddress": "中田町石森字小倉265",
    "addressCountry": "JP"
  },
  "foundingDate": "1970",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+81-220-34-2136",
    "contactType": "customer service",
    "areaServed": "JP",
    "availableLanguage": "ja"
  }
}
</script>
  </head>

  <body>
    <div class="loading">
      <div class="loadingInr">
        <img src="{{ '/img/asahi-logo.png' | relative_url }}" alt="アサヒ株式会社" />
      </div>
      <div class="spinner"></div>
    </div>

    {% include header.html %}

    <div id="">
      {% include fastview.html %}

      <div class="contents">{{ content }}</div>

      {% include footer.html %}
    </div>
  </body>
</html>
