@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  color: #14151c;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px !important;
  overflow-x: hidden;
}
::selection {
  background-color: rgba(133, 76, 117, 0.9);
  color: #fff;
}
img {
  /* user-drag: none; */
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  max-width: 100%;
}
.contents {
  width: 80%;
  margin: auto;
}

/* ----------フォント---------- */
html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 17px;
}
p,
a,
table th,
table td {
  font-size: 17px;
}
.fv {
  font-family: "Shippori Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fv p {
  font-weight: 600;
}
.fv span {
  font-weight: 400;
}

/* ----------見出し---------- */
h1,
h2 {
  text-align: center;
}
.section2 h2,
.section2 p {
  text-shadow: 2px 3px 3px #14151c;
}

.section h3 {
  text-align: center;
  border: #14151c 2px solid;
  padding: 5px;
}
h3::before {
  content: "";
  display: block;
  width: 100%;
  font-size: 0.85em;
  font-weight: 300;
}

.section2 h3 {
  border:none;
}

.section2 h3::before {
  content: "Sewing of denim products.";
}
.section2 .un-fade:nth-of-type(2) h3::before {
  content: "High-quality manufacturing.";
}
.section2 .un-fade:nth-of-type(3) h3::before {
  content: "Preserving and passing down manufacturing expertise as a domestic factory.";
}

/* .recruit h3::before {
  content: "Seeking Sewing Operators.";
}
.recruit .un-fade:nth-of-type(2) h3::before {
  content: "Click here for detailed job information.";
}

.section5 h3::before {
  content: "Visitor Guide & Routes";
}
.section5 h3:nth-of-type(2)::before {
  content: "You’ll see a white sign along the road as you get closer to our office.";
} */

.section h1:before,
.section h2:before {
  content: "";
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  color: #854c75;
  font-size: 1em;
  margin: 0 calc(50% - 50vw);
}
.section h1:before {
  content: "We carry trust forward and shape it on the factory floor.";
  font-size: 1.2em;
}
.section h2::before {
  text-shadow:
    1px 1px 0 #fff,
    -1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    0px 1px 0 #fff,
    0-1px 0 #fff,
    -1px 0 0 #fff,
    1px 0 0 #fff;
}
.section2 h2:before {
  content: "WORKS";
  /* color: #fff; */
}
.section3 h2:before {
  content: "FLOW";
}
.section4 h2:before {
  content: "COMPANY";
}
.section5 h2:before {
  content: "ACCESS";
}
.recruit h2:before {
  content: "RECRUIT";
  /* color: #fff; */
}

.section h3 {
  /* border-bottom: 1px dashed #fff; */
  padding-bottom: 10px;
}
/* .recruit h3 {
  border-bottom: 1px dashed #14151c;
} */

.textbox-center p {
  width: 80%;
  margin-inline: auto;
  text-align: left;
}

/* ----------背景---------- */

.bg {
  position: fixed;
  inset: 0;
  z-index: -3;
  background-image: url("../img/bg_stitch.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.25;
}

/* ----------各セクション設定・背景---------- */
.section {
  position: relative;
  padding: 80px 0 100px;
}
.section1 {
  padding: 100px 0 180px;
}

.section2,
.recruit {
  padding: 80px 0 100px;
  color: #fff;
}
.recruit {
  color: #14151c;
}

.section2 p {
  padding-bottom: 20px;
}
.section2 p::after {
  content: "・ ・ ・";
  display: block;
  text-align: center;
  padding-top: 20px;
}
.section2 .un-fade:last-child p::after {
  content: "";
}

.section2:before {
  background: url("../img/fv-01.jpg") no-repeat center / cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transform: skewY(-3deg);
  background:
    linear-gradient(rgba(20, 21, 28, 0.6), rgba(20, 21, 28, 0.6)),
    url("../img/fv-01.jpg") no-repeat center / cover;
}

.section2::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -2;
  margin: 0 calc(50% - 50vw);
  content: "";
  transform: skewY(-3deg);
  border-bottom: 2px dashed #ffe44d;
}
.recruit::before {
  transform: skewY(-3deg);
  border: solid 3px #854c75;
  background-color: rgba(133, 76, 117, 0.2);
  /* background: #854c75; */
}

.section:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -2;
  margin: 0 calc(50% - 50vw);
}

.section4 {
  padding: 40px 0 120px;
}

/* ----------フレックス---------- */

.flex-box {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex-box div {
  width: 50%;
}

.accessBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.accessBox div {
  width: 33%;
  text-align: center;
  border-right: #cbccd1 2px dashed;
}
.accessBox div img {
  max-width: 100px;
}
.accessBox div:last-child {
  border-right: none;
}
.accessBox div p span {
  font-weight: bold;
  font-size: 1.1em;
}

/* ----------ボタン---------- */

.section1 .link-box .linkbtn {
  width: 50%;
  text-align: center;
}

.link-box {
  display: flex;
  padding-top: 20px;
}
.linkbtn a,
.linkbtn-a {
  border: #14151c 2px solid;
  background: #14151c;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom:15px;
  /* max-width: 250px;*/
  max-width: 450px;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  line-height: 1.8;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.linkbtn a:after,
.linkbtn-a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
.linkbtn a:hover {
  background: #fff;
  color: #14151c;
}
.linkbtn a:hover:after,
.linkbtn-a:hover:after {
  right: 1.4rem;
}

/* ----------カラム---------- */

.section2 .com-box {
  width: 50%;
  margin: 0 auto;
}
.com-info {
  padding: 5px;
  width: 100%;
}
.com-info th,
.com-info td {
  padding: 3px;
}
.com-info th {
  border-bottom: #854c75 2px solid;
}
.com-info td {
  border-bottom: #cbccd1 2px solid;
}

.column-box {
  display: grid;
  grid-template-columns: 1fr 35vw;
  gap: 80px;
  min-height: 200vh;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.column-right {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 50vw;
  margin-right: calc(50% - 50vw);
}
.column-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.column-left {
  padding: 120px 0;
}

.column-left img {
  display: block;
  width: 250px;
  margin: 0 auto;
}

/* -----------フローチャート---------- */

.flow-item {
  margin: 0;
  padding: 0;
}
.flow-item > li {
  list-style-type: none;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
}
.flow-item > li:nth-of-type(even)::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 0;
  width: 0;
  height: 100%;
  border-left: 4px dotted #d4d4d4;
}
.flow-item > li:nth-of-type(odd)::before {
  content: "";
  position: absolute;
  left: 50px;
  top: -40px;
  width: 20%;
  height: 40px;
}
.flow-item > li:nth-of-type(odd)::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 50px;
  width: 20%;
  height: calc(100% - 50px);
  border-left: 4px dotted #d4d4d4;
}
.flow-item > li:first-of-type::before,
.flow12 > li:last-of-type::after {
  content: unset;
}
.flow-item > li dl {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 130px);
}
.flow-item > li .icon {
  display: inline-block;
  margin: 0;
  width: 100px;
  height: auto;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 100px;
  background: #854c75;
  color: #fff;
  border-radius: 100vh;
  position: relative;
  z-index: 1;
}
.flow-item > li dt {
  display: inline-block;
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.flow-item > li dd {
  max-width: 550px;
  margin: 0;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.1em;
}

/* ----------ヘッダー---------- */
header {
  position: fixed;
  transition:
    padding 0.5s,
    background-color 0.5s;
  width: 100%;
  top: 0;
  z-index: 10;
}
header.transform {
  background-color: rgba(133, 76, 117, 0.9);
  padding: 2px 0;
}
header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;

  align-items: center;
  margin: 0;
  padding: 0;
}
header ul li {
  text-align: center;
}
header img {
  width: 80px;
  display: block;
  margin-left: 10px;
}
header ul li:first-child {
  margin-right: auto;
}
header ul li a::before {
  content: "";
  display: block;
  font-size: 0.9em;
}
header ul li:nth-child(2) a::before {
  content: "TOP";
}
header ul li:nth-child(3) a::before {
  content: "WORKS";
}
header ul li:nth-child(4) a::before {
  content: "FLOW";
}
header ul li:nth-child(5) a::before {
  content: "COMPANY";
}
header ul li:nth-child(6) a::before {
  content: "RECRUIT";
}
header ul li:nth-child(7) a::before {
  content: "ACCESS";
}
header ul li a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}
header ul li a:hover {
  opacity: 0.8;
  transition: all 0.4s;
}
header ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #fff;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
header ul li a:hover::after {
  transform: scaleX(1);
}
header ul li:first-child a:hover::after {
  transform: scaleX(0);
}

/* ----------フッター---------- */
footer {
  background: #523f4c;
  color: #fff;
  padding-bottom: 20px;
}
.copyright {
  margin-bottom: 0;
  text-align: center;
}

footer .flex-box {
  padding: 15px;
  align-items: start;
  border-bottom: #fff 1.5px dashed;
}
.footerFlex {
  width: 100% !important;
  align-items: center !important;
}
.footerFlex div:first-child {
  width: 30%;
}
.footerFlex p {
  padding-left: 10px;
  font-size: 1.5em;
}

footer .footerAbout {
  padding-top: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
footer .flex-box ul {
  list-style: none;
}
footer .footermenu li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  margin: 10px;
  font-size: 1.5em;
}
footer .footermenu li a:hover {
  transition: all 0.3s;
  opacity: 0.5;
}

/* ----------ファーストビュー---------- */
.fv {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.fv-bg {
  position: absolute;
  inset: 0;
  background-image: url("../img/fv-02.jpg");
  background-size: cover;
  background-position: center;
  will-change: transform;
  transform: translateY(0);
  transform: scale(1.1) translateY(0);
}
.fvText {
  position: absolute;
  top: 25%;
  left: 15px;
}
.fvText p {
  color: #fff;
  font-size: 4em;
  margin: auto;
  text-shadow: 0px 2px 6px #14151c;
}
.fvText p span {
  display: block;
  font-size: 30px !important;
  padding-top: 30px;
}

/* ----------スクロールダウン---------- */
.scroll {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 5;
}
.scrollText {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0 0 2px #14151c;
}
.scrollBorder {
  position: relative;
  top: 10px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.scrollBorder::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  animation: scrollbar 2s ease-in-out infinite;
  margin: auto;
}
@keyframes scrollbar {
  0% {
    height: 0;
    top: 0;
  }
  30% {
    height: 100%;
  }
  100% {
    top: 100%;
  }
}

/* ----------ローディング---------- */
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s linear;
  z-index: 99;
}
.loading.loaded {
  opacity: 0;
  visibility: hidden;
}
.loadingInr img {
  width: 300px;
  margin-bottom: 20px;
  display: block;
}
.spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #854c75;
  border-left-color: #fff;
  animation: spinner-rotation 1s linear infinite;
}
@keyframes spinner-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------プライバシーポリシー---------- */
.policy-page header {
  background: #854c75;
}
.policy-page h1 {
  color: #854c75;
}
.policy-page h2 {
  text-align: left;
}
.asahi-pp {
  text-align: center;
  padding-top: 80px;
}
.asahi-pp img {
  width: 25%;
}
.policy-page .un-fade {
  padding-bottom: 20px;
}

/* ----------レスポンシブ---------- */
.sp {
  display: none;
}

@media screen and (min-width: 960px) {
  .flow-item > li:nth-of-type(even) {
    margin-left: 20%;
    padding-top: 20px;
  }
  .flow-item > li:nth-of-type(odd)::after {
    border-bottom: 4px dotted #d4d4d4;
  }
  .flow-item > li:nth-of-type(odd)::before {
    border-top: 4px dotted #d4d4d4;
    border-left: 4px dotted #d4d4d4;
  }
  .flow-item > li:nth-of-type(even)::after {
    height: calc(100% - 40px);
  }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 834px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }

  .scroll {
    left: 45%;
  }

  .column-box {
    display: block;
    min-height: auto;
  }
  .column-left {
    position: relative;
  }
  .column-left::before {
    background: url("../img/cl-bg.jpg") no-repeat center / cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -2;
    margin: 0 calc(50% - 50vw);

    opacity: 0.4;
  }

  .contents {
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    .loadingInr img {
      width: 150px;
    }

    .hamburger {
      width: 30px;
      height: 24px;
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 100;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .hamburger span {
      width: 100%;
      height: 3px;
      background: #fff;
      border-radius: 2px;
      transition: 0.4s;
      box-shadow: 1px 1px 5px #14151c;
    }

    .hamburger.active span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(20, 21, 28, 0.8);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.5s,
        visibility 0.5s;
    }
    .menu.active {
      opacity: 1;
      visibility: visible;
    }
    .menu li {
      margin: 10px 0;
      opacity: 0;
      transform: translateX(30px);
      transition:
        opacity 0.5s,
        transform 0.5s;
    }
    .menu.active li {
      opacity: 1;
      transform: translateX(0);
    }
    .menu.active li:nth-child(1) {
      transition-delay: 0.1s;
    }
    .menu.active li:nth-child(2) {
      transition-delay: 0.2s;
    }
    .menu.active li:nth-child(3) {
      transition-delay: 0.3s;
    }
    .menu.active li:nth-child(4) {
      transition-delay: 0.4s;
    }
    .menu.active li:nth-child(5) {
      transition-delay: 0.5s;
    }
    .menu.active li:nth-child(6) {
      transition-delay: 0.6s;
    }
    .menu.active li:nth-child(7) {
      transition-delay: 0.7s;
    }
    .menu li:first-child {
      margin-right: 0;
    }
    header img {
      width: 100px;
      margin-left: 0;
    }

    .asahi-pp {
      padding-top: 20px;
    }
  }

  .fvText p {
    font-size: 3em;
  }
  .fvText p span {
    font-size: 20px !important;
  }

  .column-right {
    display: none;
  }

  .textbox-center p {
    width: 100%;
  }

  .section1 .link-box {
    display: block;
  }
  .section1 .link-box .linkbtn {
    width: 100%;
  }
  .section1 .link-box .linkbtn a {
    max-width: 300px;
    font-weight: bold;
  }
  .section1 .link-box .linkbtn a:first-child {
    margin-bottom: 25px;
  }

  .flex-box {
    display: block;
    width: 100%;
  }
  .flex-box div {
    width: 100%;
  }
  .footerFlex {
    display: flex;
  }

  footer .footermenu {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
}

@media screen and (max-width: 480px) {
  .fvText {
    font-size: 1em;
  }

  .section h1:before {
    font-size: 1em;
  }

  .com-info th,
  .com-info td {
    display: block;
    width: 100%;
  }
  .com-info th {
    border-bottom: none;
  }

  .menu li {
    margin: 0;
  }

  .accessBox {
    display: block;
  }
  .accessBox div {
    width: 100%;
    border-right: none;
    border-bottom: #cbccd1 2px dashed;
    padding: 20px 0 10px;
  }
  .accessBox div:last-child {
    border-bottom: none;
  }
}
